body{
  position: relative;
  margin: 0px;
  font-family: bardiya;
  direction: rtl;
  background-color: #eeeeee;
  min-width: 375px;
}
.blur{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
button, input, a {
  -webkit-app-region: no-drag;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#navbar{
  -webkit-app-region: drag;
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 200px;
  background-color: #329ccc;
  z-index: 2;
  transition: 0.3s;
}
#navbar > #logo{
  width: 100%;
  height: 100px;
  background-image: url(../images/logo.png);
  background-color: #01cafe;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#navbar > #search{
  width: 100%;
  padding-right: 50px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #00bdf1;
  background-image: url(../images/icons/search.svg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: right center;
}
#navbar > #search > input{
  outline: none;
  border: none;
  font: 18px bardiya;
  width: 100%;
  line-height: 50px;
  padding: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: transparent;
  color: white;
}
#navbar > #search > input::-webkit-input-placeholder {
    color: white;
    opacity: 0.4;
}
#navbar > .item{
  position: relative;
  height: 60px;
  width: 100%;
  padding-right: 60px;
  line-height: 60px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  display: block;
  background-size: 48px;
  background-repeat: no-repeat;
  background-position: right center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: 0.3s;
}
#navbar > .item:last-child{
  border-bottom: none;
}
#navbar > .item:hover{
  background-color: rgba(255,255,255,0.2);
}
#navbar > .item.select{
  background-color: rgba(0,0,0,0.2);
  cursor: default;
}
#navbar > .item.select:hover{
  background-color: rgba(0,0,0,0.2);
}

#container{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 200px;
  bottom: 0px;
  z-index: 1;
  transition: 0.3s;
}
@media only screen and (max-width: 600px) {
  #navbar{
    display: none;
    width: 100%;
  }
  #container{
    right: 0px;
  }
}

#header{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 100px;
  background-color: white;
  padding: 0px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 3;
}
#header > h2{
  font-size: 36px;
  color: #555;
  line-height: 70px;
  margin: 0px;
}
#header > p{
  margin: 0px;
  color: #aaa;
  line-height: 30px;
}
#header > #checkout-btn{
  width: 48px;
  height: 48px;
  background-image: url(../images/icons/sync.png);
  position: absolute;
  display: block;
  left: 20px;
  top: 20px;
  background-color: black;
  border-radius: 50%;
  opacity: 0.4;
  transition: 0.3s;
  cursor: pointer;
}
#header > #checkout-btn:hover{
  transform: rotate(180deg);
  opacity: 0.8;
}
.shadow{
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3) !important;
}
#toolbar{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100px;
  height: 50px;
  background-color: rgba(0,0,0,0.1);
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
  transition: 0.2s;
  z-index: 2;
}
#toolbar > li{
  display: inline-block;
  cursor: hand;
  margin: 0px 10px;
  position: relative;
  width: 50px;
  height: 50px;

}
#toolbar > li::before{
  content: close-quote;
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  left: 50%;
  top: 50%;
  background-color: rgba(0,0,0,0.1);
  transition: 0.3s;
}
#toolbar > li:hover::before{
  width: 40px;
  height: 40px;
  left: 5px;
  top: 5px;
}
#toolbar > li > a{
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40px;
  opacity: 0.4;
  transition: 0.3s;
}
#toolbar > li:hover > a{
  opacity: 0.6;
}
#content{
  position: absolute;
  overflow-y: scroll;
  left: 0px;
  right: 0px;
  top: 150px;
  bottom: 0px;
  padding: 30px;
  z-index: 1;
}
.mail-list{
  direction: ltr;
  margin: 0px auto;
  background-color: white;
  border-collapse: collapse;
  font: 16px arial,sans-serif;
}
.mail-item{
  border-bottom: 1px solid rgba(0,0,0,0.02);
  border-left: 2px solid #00bdf1;
  cursor: default;
  transition: 0.3s;
}
.mail-item > td{
  height: 40px;
}
.mail-item:hover{
  background-color: rgba(0,0,0,0.02);
}
.mail-item > td.mail-tools{
  width: 85px;
}
.mail-item > td.mail-sender{
  width: 200px;
}
.mail-item > td.mail-content{
  width: 600px;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mail-item > td.mail-attachment{
  opacity: 0.2;
}
.mail-item .mail-subject{
  margin-right: 10px;
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {
  .mail-item > td.mail-content{
    max-width: 300px;
  }
}
@media only screen and (max-width: 800px) {
  .mail-item > td.mail-content .mail-body{
    display: none;
  }
}

.checkbox{
  display: inline-block;
  cursor: hand;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  transition: 0.3s;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/uncheck.png);
}
.checkbox:hover{
  opacity: 1;
}
.checkbox[check="true"]{
  background-image: url(../images/icons/check.png);
  opacity: 1;
}
.mail-item .reply{
  display: inline-block;
  cursor: hand;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  transition: 0.3s;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/reply.png);
}
.mail-item .reply:hover{
  opacity: 1;
}

.box{
  width: 500px;
  height: 300px;
  margin: 0px auto;
  background-color: white;
  border-bottom: 5px solid #00bdf1;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
  padding: 20px;
  font-size: 18px;
}

input[type="email"], input[type="text"], input[type="password"]{
  border: 1px solid rgba(0,0,0,0.1);
  padding: 3px 5px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}
input[type="button"], input[type="submit"]{
  width: 100%;
  font-size: 18px;
  font-family: inherit;
  background: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0px;
  transition: 0.3s;
}
input[type="button"]:hover, input[type="submit"]:hover{
  background: #bbb;
}
input[type="button"].blue, input[type="submit"].blue{
  background: #00bdf1;
  color: white;
}
input[type="button"].blue:hover, input[type="submit"].blue:hover{
  background: #329ccc;
}
#process-list{
  position: fixed;
  left: -300px;
  width: 250px;
  top: 0px;
  bottom: 0px;
  background-color: #555;
  z-index: 10;
  padding: 10px;
  box-shadow: 0px 0px 5px black;
  overflow-y: auto;
  transition: 0.3s;
}
#process-list.show{
  left: 0px;
}
.process{
  margin: 15px auto;
  width: 200px;
  background-color: white;
  cursor: hand;
  transition: 0.3s;
  text-align: center;
}
.process > h2{
  font-size: 36px;
  color: #555;
  line-height: 70px;
  margin: 0px;
}
.process > p{
  margin: 0px;
  margin-top: -10px;
  color: #aaa;
  line-height: 30px;
}
.process:hover{
  box-shadow: 0px 0px 10px 2px #00bdf1;
}
.process > .inf{
  width: 100%;
  background-color: rgba(0,0,0,0.2);
}
.process > .inf > span{
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  opacity: 0.5;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  margin: 0px 20px;
}
.process .accepted{
  background-image: url(../images/icons/accept-black.png);
}
.process .new{
  background-image: url(../images/icons/new.png);
}
#wrapper{
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9;
  display: none;
}
#addNewProcess{
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #27ae60;
  left: 30px;
  bottom: -100px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px black;
  animation: example 3s linear 0s infinite;
  cursor: hand;
  background-image: url(../images/icons/add.svg);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

@keyframes example {
    0%   {transform: scale(1);}
    80%   {transform: scale(1);}
    85%   {transform: scale(1.3);}
    90%   {transform: scale(1);}
    95%   {transform: scale(1.3);}
    100%   {transform: scale(1);}
}
