
      <div ng-controller="ProcessorController" class="box" style="padding: 40px 100px; width: auto; display: table; height: auto;">
        {{ 'handlerName' | translate }}:<br>
        <input type="text" ng-model="processor.name"/><br><br>
        {{ 'tags' | translate }}:<br>
        <input type="text" ng-model="processor.tags"/><br><br>
        {{ 'email' | translate }}:<br>
        <input type="email" ng-model="processor.email"/><br><br>
        {{ 'password' | translate }}:<br>
        <input type="password"  ng-model="processor.password"/><br><br>
        {{ 'scriptPath' | translate }}:<br>
        <input type="file" ng-model="processor.scriptPath"
               onchange="angular.element(this).scope().setFiles(this)"
               /><br><br>
        <input type="button" value="{{ 'cancel' | translate }}" />
        <input class="blue" type="button" value="{{ 'save' | translate }}" ng-click="addHandler()"/>
      </div>

      <!--onchange="angular.element(this).scope().setFiles(this)"-->